/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include "zmk_uno-layouts.dtsi"


&lpi2c0 {
    status = "okay";
};

nice_view_spi: &lpspi0 {
    status = "okay";

    cs-gpios = <&arduino_header 16 GPIO_ACTIVE_HIGH>;

    // Needed so the nice_view shield will enhance the existing node which falls *first*
    // on the bus, properly picking up the first `cs-gpios` specifier.
    ls0xx@0 {
        reg = <0>;
    };

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <4000000>;

        /* WS2812 */
        chain-length = <7>; /* 4 underglow + 3 per-key LEDs */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;

        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

/ {
    chosen {
        zmk,backlight = &backlight;
        zmk,underglow = &led_strip;
    };

    // Commented out until we add more powerful power domain support
    // external_power {
        //  compatible = "zmk,ext-power-generic";
        //  init-delay-ms = <200>;
        //  control-gpios = <&arduino_header 1 GPIO_ACTIVE_LOW>;
    // };

    rgb_power {
        compatible = "zmk,ext-power-generic";
        init-delay-ms = <200>;
        control-gpios = <&arduino_header 1 GPIO_ACTIVE_LOW>;
    };

    backlight: gpioleds {
        compatible = "gpio-leds";
        gpio_led_0 {
            gpios = <&arduino_header 12 GPIO_ACTIVE_HIGH>;
        };
    };

    matrix_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <4>;

        map = <
        RC(0,0) RC(0,1)
        RC(1,0) RC(1,1)
        >;
    };

    direct_matrix_transform: direct_matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <4>;

        map = <
        RC(0,0) RC(0,1)
        RC(0,2) RC(0,3)
        >;
    };

    kscan_matrix: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";

        col-gpios
        = <&arduino_header 10 GPIO_ACTIVE_HIGH>
        , <&arduino_header 9  GPIO_ACTIVE_HIGH>
        ;

        row-gpios
        = <&arduino_header 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&arduino_header 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

    };

    kscan_direct: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
        = <&arduino_header 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&arduino_header 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&arduino_header 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&arduino_header 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;

    };

    kscan_sp3t_toggle: kscan_sp3t_toggle {
        compatible = "zmk,kscan-gpio-direct";
        toggle-mode;

        input-gpios
        = <&arduino_header 4 GPIO_ACTIVE_LOW>
        , <&arduino_header 3 GPIO_ACTIVE_LOW>
        , <&arduino_header 2 GPIO_ACTIVE_LOW>
        ;
    };

    encoder: encoder {
        steps = <80>;
        compatible = "alps,ec11";
        a-gpios = <&arduino_header 15 GPIO_PULL_UP>;
        b-gpios = <&arduino_header 14 GPIO_PULL_UP>;
    };
    
    arduino_header: connector {
    compatible = "arduino-header-r3";
    #gpio-cells = <2>;
    gpio-map-mask = <0xffffffff 0xffffffc0>;
    gpio-map-pass-thru = <0 0x3f>;

    gpio-map =
        /* digital */
        <0 &gpio3 6 0>,   /* D0  = P3_6 */
        <1 &gpio3 7 0>,   /* D1  = P3_7 */
        <2 &gpio3 8 0>,   /* D2  = P3_8 */
        <3 &gpio3 9 0>,   /* D3  = P3_9 */
        <4 &gpio3 10 0>,  /* D4  = P3_10 */
        <5 &gpio3 11 0>,  /* D5  = P3_11 */
        <6 &gpio3 31 0>,  /* D6  = P3_31 */
        <7 &gpio2 7 0>,   /* D7  = P2_7 */
        <8 &gpio2 8 0>,   /* D8  = P2_8 */
        <9 &gpio2 9 0>,   /* D9  = P2_9 */
        <10 &gpio2 10 0>, /* D10 = P2_10 */
        <11 &gpio2 11 0>, /* D11 = P2_11 */
        <12 &gpio2 12 0>, /* D12 = P2_12 */
        <13 &gpio2 13 0>, /* D13 = P2_13 */
        <14 &gpio2 14 0>, /* A0 = P2_14 */
        <15 &gpio2 15 0>, /* A1 = P2_15 */
        <16 &gpio2 16 0>; /* A2 = P2_16 */
};

    
};

&matrix_physical_layout {
    kscan = <&kscan_matrix>;
    transform = <&matrix_transform>;
};

&direct_physical_layout {
    kscan = <&kscan_direct>;
    transform = <&direct_matrix_transform>;
};
